@import "../../../assests/mixins";

.titleContainer {
    padding: 10px;
    width: 500px;
    @include flexbox-style;
    border-radius: 10px;
    margin: 10px 0;
    transition: ease-out 0.4s;
    position: absolute; 
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    input {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
        font-size: 18px;
        font-weight: 525;
        color: #4C4C4C;

    }
}