@use "../src/components/navbar/navbar";
@use "../src/components/button-icon/buttonIcon";
@use "../src//components/sidebar/sidebar";
@use "../src/components/title-container/titleContainer";

@import "mixins";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

%rm-outline-border {
    outline: none;
    border: none;
}

.containerWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.mainContainer {
    height: 100%;
    width: 100%;
    @include flexbox-style($justify:flex-start, $align:flex-start, $direction:column);
    // background-image: linear-gradient(to right, #CF9BC5, #AE80C7);
    position: relative;
    .addListButton {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        @include flexbox-style;
        @extend %rm-outline-border;
        margin: 10px;
        cursor: pointer;

        img {
            height: 50%;
            width: 50%;
        }
    }

    .mainContainerBody{
        height: 100%;
        width: 100%;
        position: relative;
        @include flexbox-style($justify:flex-start,$align:flex-start);
    }

}

.wrapper {
    width: 100%;
    max-height: calc(100vh - 75px);
    @include flexbox-style($justify:space-around, $align:flex-start, $wrap:wrap,$gap:10px);
    overflow: scroll;
    position: relative;
    box-sizing: border-box;
    padding: 10px;

    .titleWrapper{
        @include flexbox-style;
        width: 100%;
        height: 150px;
    }
}

@media (max-width:500px) {
    .wrapper {
        padding: 10px;
        justify-content: center;
    }
}

.listContainer {
    min-height: 200px;
    max-height: 350px;
    width: 300px;
    background-color: #FEFEFE;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    @include flexbox-style($justify:flex-start, $align:flex-start, $direction:column);
}

.listContainer:hover{
    box-shadow: 0px 0px 9px 2px #E0E0E0;
}

.listIconContainer {
    height: 25px;
    width: 50px;
    @include flexbox-style;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    img:hover {
        background-color: #AE80C7;
    }
}

.listNavBar {
    height: 50px;
    width: 100%;
    @include flexbox-style(space-around);
    margin-bottom: 10px;
    position: relative;

    button {
        height: 25px;
        @include flexbox-style;
        @extend %rm-outline-border;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: transparent;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.listBody {
    height: calc(100% - 50px);
    width: 100%;
    overflow: scroll;
    @include flexbox-style($justify:flex-start, $align:center, $direction:column);

    >input {
        @extend %rm-outline-border;
        width: calc(100% - 50px);
    }
}

.listItem {
    height: 50px;
    width: 100%;
    @include flexbox-style(space-between);

    input {
        margin-left: 10px;
    }

    .strike {
        text-decoration: line-through;
    }

    h3 {
        white-space: normal;
        overflow: scroll;
        width: fit-content;
        height: fit-content;
        max-width: 75%;
    }


    button {
        height: 25px;
        @include flexbox-style;
        @extend %rm-outline-border;
        cursor: pointer;
        background-color: transparent;

        img {
            height: 100%;
            width: 100%;
        }
    }
}




.modalContainer {
    height: 100vh;
    width: 100vw;
    @include flexbox-style;
    z-index: 10;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
}

.modalContent {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    background-color: #F2C2C5;

    .modalNavBar {
        height: 50px;
        width: 100%;
        background-color: #AE80C7;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        button {
            position: absolute;
            right: 10px;
            top: 10px;
            border-radius: 10px;
            @extend %rm-outline-border;
            cursor: pointer;
        }
    }

    .modalBody {
        height: calc(100% - 50px);
        width: 100%;
        @include flexbox-style($justify:space-around, $direction:column);

        input {
            width: 75%;
            margin: 0 10px;
            padding: 10px;
            @extend %rm-outline-border;
            border-radius: 15px;
        }
    }
}


.mainContainerRemove,
.modalContainerRemove {
    display: none;
}