@use "../src/components/navbar/navbar";
@use "../src/components/button-icon/buttonIcon";
@use "../src//components/sidebar/sidebar";
@use "../src/components/title-container/titleContainer";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "mixins";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
}

%rm-outline-border {
    outline: none;
    border: none;
}

.containerWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.mainContainer {
    height: 100%;
    width: 100%;
    @include flexbox-style($justify:flex-start, $align:flex-start, $direction:column);
    // background-image: linear-gradient(to right, #CF9BC5, #AE80C7);
    position: relative;

    .addListButton {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        @include flexbox-style;
        @extend %rm-outline-border;
        margin: 10px;
        cursor: pointer;

        img {
            height: 50%;
            width: 50%;
        }
    }

    .mainContainerBody {
        height: 100%;
        width: 100%;
        position: relative;
        @include flexbox-style($justify:flex-start, $align:flex-start);
    }

}

.wrapper {
    width: 100%;
    max-height: calc(100vh - 75px);
    @include flexbox-style($justify:flex-start, $align:flex-start, $wrap:wrap, $gap:15px);
    overflow: scroll;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 75px;
    margin-left: 50px;

    .titleWrapper {
        padding-top: 15px;
        @include flexbox-style($align:flex-start);
        width: 100%;
        height: 75px;
    }
}

@media (max-width:500px) {
    .wrapper {
        padding: 10px;
        justify-content: center;
    }
}

.listContainer {
    min-height: 200px;
    max-height: 350px;
    width: 300px;
    background-color: #FEFEFE;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    @include flexbox-style($justify:flex-start, $align:flex-start, $direction:column);
}

.listContainer:hover {
    box-shadow: 0px 0px 9px 2px #E0E0E0;
}

.listIconContainer {
    height: 25px;
    width: 50px;
    @include flexbox-style;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    img:hover {
        background-color: #AE80C7;
    }
}

.listNavBar {
    height: 50px;
    width: 100%;
    @include flexbox-style($justify:flex-start);
    position: relative;
    padding-left: 20px;

    h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 75%;
        letter-spacing: .00625em;
        font-family: "Google Sans", Roboto, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    button {
        height: 25px;
        width: 20%;
        @include flexbox-style;
        @extend %rm-outline-border;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: transparent;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.listBody {
    height: calc(100% - 50px);
    width: 100%;
    overflow: scroll;
    @include flexbox-style($justify:flex-start, $align:center, $direction:column);

    textarea {
        @extend %rm-outline-border;
        width: calc(100% - 50px);
        min-height: 20px;
        height: 100%;
        max-height: 100px;
        resize: none;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0;

    }
}

.listItem {
    height: fit-content;
    width: 93%;
    @include flexbox-style($justify:flex-start, $gap:10px);

    input {
        margin-left: 10px;
    }

    .strike {
        text-decoration: line-through;
    }

    h3 {
        white-space: normal;
        height: fit-content;
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: .01428571em;
        font-family: Roboto, Arial, sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: #202124;
    }


    button {
        height: 25px;
        @include flexbox-style;
        @extend %rm-outline-border;
        cursor: pointer;
        background-color: transparent;

        img {
            height: 100%;
            width: 100%;
        }
    }
}




.modalContainer {
    height: 100vh;
    width: 100vw;
    @include flexbox-style;
    z-index: 10;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
}

.modalContent {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    background-color: #F2C2C5;

    .modalNavBar {
        height: 50px;
        width: 100%;
        background-color: #AE80C7;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        button {
            position: absolute;
            right: 10px;
            top: 10px;
            border-radius: 10px;
            @extend %rm-outline-border;
            cursor: pointer;
        }
    }

    .modalBody {
        height: calc(100% - 50px);
        width: 100%;
        @include flexbox-style($justify:space-around, $direction:column);

        input {
            width: 75%;
            margin: 0 10px;
            padding: 10px;
            @extend %rm-outline-border;
            border-radius: 15px;
        }
    }
}


.mainContainerRemove,
.modalContainerRemove {
    display: none;
}