@import "../../../assests/mixins";

.sideBarContainer{
    @include flexbox-style($justify:flex-start,$align:flex-start,$direction:column);
    height: calc(100% - 55px);
    width: 50px;
    background-color: aquamarine;
    padding: 0 10px;    
    transition: ease-out 0.3ms;
    position: absolute;
    z-index: 2;
    left: 0;
}

.hoverStyle{
    width: 200px;
}